// Fonts
$font-family: "Muller", sans-serif;
$base-font-size: 16px;
$section-title-font-size: 40px;
$subtitle-font-size: 20px;

// Сolors
$bg-color: #F1F1F1;
$bg-block-color: white;
$section-title: #333333;
$accent-color: #CC9933;
$additional-accent-color: #F0BF5F;
$active-color: #A47312;
$text-color: #000000;
$secondary-text-color: #FFF;
$footer-bg: #333333;
$focus-btn: white;
$hover-btn: white;
$active-btn: white;
$border-color: #E9E9E9;

// Border-radius
$btn-radius: 10px;
$base-border-radius: 15px;

// Margins and containers
$container-width: 1170px;
$special-card-width: 573px;
$services-card-width: 573px;
$advantages-card-width: 276px;
$placement-card-width: 374px;
$blocks-spacing: 70px 0;
$base-ml: 45px;

